<div>
  <div>
    <h3>Hello there, Sign in to continue</h3>

    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <label>Username/Email</label>
          <input type="text" formControlName="username"/>
          <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="alert">
            <div *ngIf="loginForm.controls['username'].errors.required">
              <label>
                Username is required
              </label>
            </div>
          </div>
        </div>
        <div>
          <label>Password</label>
          <input type="password" formControlName="password"/>
          <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
            <div *ngIf="loginForm.controls['password'].errors.required">
              <label>
                Password is required
              </label>
            </div>
          </div>
        </div>
        <button>Login</button>
      </form>
    </div>
  </div>
</div>
