<h3>Welcome to Wissen Coding Challenge!</h3>


Your login details: <br>
<p>Username: {{user?.username}}</p>


<div>
    <h3>List of users</h3>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>year</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.year}}</td>
            </tr>

        </tbody>
    </table>
</div>
